.responsive-image {
  display: block;
  max-width: 100%;
  height: auto;
  
  &__img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  // Ratios для сохранения пропорций
  &--16-9 {
    aspect-ratio: 16 / 9;
    
    .responsive-image__img {
      height: 100%;
      object-fit: cover;
    }
  }
  
  &--4-3 {
    aspect-ratio: 4 / 3;
    
    .responsive-image__img {
      height: 100%;
      object-fit: cover;
    }
  }
  
  &--1-1 {
    aspect-ratio: 1 / 1;
    
    .responsive-image__img {
      height: 100%;
      object-fit: cover;
    }
  }
}